{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67",
          "browsers": ["last 2 versions", "safari 7"]
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}